.post-container {
  display: flex;
  justify-content: center;
  background-color: #000;
}


.post-box {
  display: flex;
  gap: 10px;
  width: 500px;
  padding: 10px 12px;
  border-bottom: 1px solid #2f3336;
}

.profile-circle {
  width: 38px;
  height: 38px;
  background-color: #222;
  border-radius: 50%;
}


.post-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.post-content {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  resize: none;
  outline: none;
  min-height: 40px;
  line-height: 1.4;
}

.post-btn {
  align-self: flex-end;
  margin-top: 6px;
  padding: 6px 14px;
  border-radius: 20px;
  border: none;
  background-color: #1d9bf0;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}


.post-btn:hover {
  background-color: #1a8cd8;
}